* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body * {
  font-family: "Roboto", sans-serif !important;
}
h1,
h2,
h3 {
  font-family: "Lora", serif;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
li,
span,
p {
  font-size: 1rem;
  line-height: 1.5 !important;
}

body {
  scrollbar-gutter: stable !important;
}
body::-webkit-scrollbar {
  width: 5px;
  background: #1c2a38 !important;
}

body::-webkit-scrollbar-track {
  background-color: transparent !important;
  box-shadow: none;
}

body::-webkit-scrollbar-thumb {
  background-color: #d3d3d3; /* Light grey scrollbar thumb */
  border-radius: 6px; /* Smooth edges for a modern look */
  outline: none; /* No outline for the thumb */
  opacity: 0; /* Initially hidden */
  visibility: hidden; /* Thumb is not visible or interactive */
  transition: opacity 0.3s, visibility 0.3s; /* Smooth fade-in/out */
}

body.scrolling::-webkit-scrollbar-thumb {
  opacity: 1; /* Fully visible */
  visibility: visible; /* Ensure it's interactive */
  transition: 0.5s ease-in-out; /* Slow fade-in */
}
