* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body,
body * {
  line-height: 1 !important;
  font-family: "League Spartan", sans-serif !important;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
li,
span,
p {
  font-size: 1rem;
  line-height: 1.5 !important;
}

/* website scrollbar */
body::-webkit-scrollbar {
  width: 0;
}
body::-webkit-scrollbar-track {
  box-shadow: none;
  /* background-color: #2280b9; */
}
body::-webkit-scrollbar-thumb {
  /* background-color: #0f3677; */
  outline: none;
}
